.container-fluid.em-hero {
    min-height: 30vh;
    background-image: url('./img/pizza.jpeg');
    background-position: center center;
    background-size: cover;
    margin-top: 2em;
}

h1#top {
    margin-top: 1em;
}

li span {
    display:inline-flex;
    align-content: center;
    justify-content: center ;
    width: 20px;
    height: 20px;
    border-radius: 40%;
    background-color: #6D6D6D;
    color: #ffffff;
    font-size: 70%;
    margin-right: .25em;
}




h4, h5, h6 {

    display: inline;
    margin: 2em 0.5em;
}

h6 {
    color: darkgrey;
}

.btn {
    display: inline-flex;
}



